{% extends 'base.html' %}
{% block body %}
  <h1 class="mt-3">불매 대상 제품 추가</h1>
  <form action="/product/create/" class="mt-5">
    <div class="form-group">
      <label for="name">제품명</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="category">카테고리</label>
        <!-- <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
        </select> -->
      <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="form-group">
      <label for="replace">대체상품</label>
      <input type="text" class="form-control" id="replace" name="replace">
    </div>
    <button type="submit" class="btn btn-primary">추가하기</button>
  </form>
{% endblock %}